[submodule "tools/zmap"]
	path = tools/zmap
	url = git@github.com:mkoch-tud/zmap.git
[submodule "tools/go_ipv6_address_generator"]
	path = tools/go_ipv6_address_generator
	url = https://github.com/mkoch-tud/go_ipv6_address_generator.git
